.btn_mainmenu{
  width: 180px;
  height: 60px;
  font-size: 20px;
  color: white;
  background-color: #00a3ff;
  display: block;
  text-decoration: none;
  text-align: center;
  padding-top: 28px;
  border: 2px solid #0f74ad;
}
