<div class="container">

  <div class="row">

    <div class="col-sm-1"></div>

    <div class="col-sm-3">
      <button type="button" class="btn btn-primary" routerLink="/chart">
        <h1>Story</h1>
        <span class="candleLevel"></span>
      </button>

    </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-warning">
        <h1 class="align-middle">Patterns</h1>
        <span class="candleLevel"></span>
        <span class="candleLevel"></span>
      </button>

   </div>
    <div class="col-sm-3">
      <button type="button" class="btn btn-danger">
        <h1>Challenge</h1>
        <span class="candleLevel"></span>
        <span class="candleLevel"></span>
        <span class="candleLevel"></span>
      </button>

    </div>

    <div class="col-sm-1"></div>

  </div>

  <footer>
  </footer>

</div>
